@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Permanent+Marker&family=Sevillana&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root,[theme='light']{
    --dv--color:#ff5722;
    --text--color:#e4f1fe;
    --txt--color:black;
    --primary--color:#33332f;
    --dr--color:black;
    --nv--color:rgb(228, 241, 254,0.5);
}
:root,[theme='dark']{
    --dv--color:#ff5722;
    --text--color:black;
    --txt--color:white;
    --primary--color:#33332f;
    --dr--color:black;
    --nv--color:rgba(0, 0, 0, 0.5);
}
nav {
    height: 65px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--text--color);
    position: sticky;
    top: 0;
    font-family: 'Permanent Marker', cursive, sans-serif;
    margin-top: 50px;
    border-radius: 20px;
    z-index: 1000;
    transition: 1s;
    color: var(--txt--color);
}
header{
    display: flex;
    justify-content: center;
    background-color: var(--primary--color);
}
.logo{
    display: flex;
    align-items: center;
    gap: 3px;
    transform: translateX(30px);
}
.logo:hover{
    cursor: pointer;
}
.prof{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.logOut{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo p{
    font-size: 30px;
    font-weight: 900;
    transition: 1s;
}
.logo p:hover{
    color: var(--dv--color);
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--txt--color);
    font-weight: 900;
    font-size: 25px;
    font-family: 'Libre Baskerville', serif;
}
nav img{
    height: 50px;
    width: 50px;
}
nav a:hover{
    cursor: pointer;
    color: var(--dv--color);
}
nav ul li{
    margin: 15px;
    transition: 1s;
}
nav ul li:hover{
    color: var(--dv--color);
    cursor: pointer;
}
section{
    width: 100%;
    background-color: var(--primary--color);
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#map{
    margin-top: 100px;
    width: 80%;
    height: 500px;
    border-radius: 30px;
    margin-bottom: 50px;
}
footer{
    min-height: 800px;
    background-color: var(--dr--color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.data{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
}
.social-media{
    display: flex;
    gap:10px;
}
.socialBox{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.socialBox img{
    width: 32px;
    height: 32px;
}
.socialBox:nth-child(1):hover{
    background-color: navy;
}
.socialBox:nth-child(2):hover{
    background-color: #d71285;
}
.socialBox:nth-child(3):hover{
    background-color: #129cd7;
    
}
.footer-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.footer-info h1{
    font-size: 30px;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}            
.footer-logo img{
    width: 100px;
    height: 100px;
}
.footer-logo p{
    font-size: 35px;
    font-family: 'Permanent Marker', cursive;
    transform: translateY(10px);
}
.socialBox:hover{
    cursor: pointer;
}
.hide{
    display: none;
}
.show:hover{
    cursor: pointer;
}
.show{
    display: inline;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    border: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.products{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.product{
    width: 60%;
    height: 60%;
    background-color: var(--nv--color);
    color: var(--txt--color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-wrap: wrap;
}
.slider{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    
}
.slider img{
    width: 100%;
    height: 70%;
    border-radius: 20px;
    margin-top: 10px;
}
.slides{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30%;
}
.slides img{
    height: 80%;
    width: 20%;
    border-radius: 10px;

}
.slides img:hover{
    cursor: pointer;
    outline: 1px solid var(--dr--color);
}
.footer-bottom{
    color: white;
}
.productData{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding-left: 20px;
    position: relative;
    flex-wrap: wrap;
    margin-top: 10px;
    color: var(--txt--color);
}
#addtocart{
    width: 150px;
    font-size: 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    height: 35px;
    transition: 1s;
    font-family: 'Permanent Marker', cursive;
    color: var(--text--color);
    background-color: var(--dv--color);
    position: absolute;
    bottom: 10%;
    right: 25%;
}
#addtocart:hover{
    background-color: var(--dr--color);
    color: var(--dv--color);
    transform: scale(1.2);
}
.product p:nth-child(2){
    font-size: 20px;
    font-weight: 500;
}
.product p:nth-child(3){
    font-size: 20px;
    font-weight: 500;
}
.product p:nth-child(4){
    font-size: 20px;
    color: rgb(226, 12, 12);
}
.product p:nth-child(5){
    font-size: 25px;
    font-weight: 500;
}
.product p:nth-child(6){
    font-size: 20px;
    font-weight: 500;
}
@media only screen and (max-width: 800px) {
    #addtocart{
       position: static;
       margin-bottom: 10px;
    }
}
@media only screen and (max-width: 700px) {
    .prof p{
        display: none;
    }
}
.themeIcon {
    height: 70px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 10000000;
}
#themeIconImage {
    cursor: pointer;
    width: 60px;
    height: 60px;
}