@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Permanent+Marker&family=Sevillana&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root,[theme='light']{
    --dv--color:#ff5722;
    --text--color:#e4f1fe;
    --primary--color:#33332f;
    --dr--color:black;
    --nv--color:rgb(228, 241, 254,0.5);
}
nav {
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nv--color);
    position: fixed;
    top: 0;
    font-family: 'Permanent Marker', cursive, sans-serif;
    z-index: 1000;
}
header{
    display: flex;
    justify-content: center;
    background-color: var(--primary--color);
}
.logo{
    display: flex;
    align-items: center;
    gap: 3px;
    transform: translateX(30px);
}
.logo:hover{
    cursor: pointer;
}
.signUpButton {
    width: 100px;
    font-size: 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    line-height: 35px;
    transition: 1s;
    font-family: 'Permanent Marker', cursive;
    color: var(--text--color);
    background-color: var(--dv--color);
}
.signUpButton:hover{
    background-color: var(--dr--color);
    color: var(--dv--color);
    transform: scale(1.1);
}
.logo p{
    font-size: 30px;
    color: var(--dr--color);
    font-weight: 900;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dr--color);
    font-weight: 900;
    font-size: 25px;
    font-family: 'Libre Baskerville', serif;
}
nav img{
    height: 50px;
    width: 50px;
}
nav a{
    text-decoration: none;
    color: var(--dr--color);
    transition: 1s;
}
nav a:hover{
    cursor: pointer;
    color: var(--dv--color);
    transition: 1s;
}
nav ul li{
    margin: 15px;
}
nav ul li:hover{
    color: var(--dv--color);
}
section{
    width: 100%;
    background-color: var(--primary--color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.formContainer{
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
    background-color: var(--nv--color);
    
}

.formContainer h2{
    font-weight: 900;
    font-size: 60px;
    color: #e4f1fe;
    font-family: 'Sevillana', cursive;
    margin-bottom: 30px;
}
input{
    width: 190px;
    height: 30px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}
#signupButton
{
    height: 60px;
    width: 200px;
    font-size: 40px;
    border-radius: 10px;
    border: none;
    background-color: var(--dv--color);
    color: var(--text--color);
    font-family: 'Sevillana', cursive;
    cursor: pointer;
    margin-top: 15px;
}
#signupButton:hover{
    outline:  solid 2px;
    transition: 1s;
    transform: scale(1.05);
    background-color: var(--dr--color);
    color: var(--dv--color);
    transform: scale(1.2);
    cursor: pointer;
}

.submitButton{
    height: 60px;
    width: 200px;
    font-size: 40px;
    border-radius: 10px;
    border: none;
    background-color: var(--dv--color);
    color: var(--text--color);
    font-family: 'Sevillana', cursive;
    cursor: pointer;
    margin-top: 15px;
    transition: 1s;
}
.submitButton:hover{
    outline:  solid 2px;
    transition: 1s;
    transform: scale(1.05);
    background-color: var(--dr--color);
    color: var(--dv--color);
    transform: scale(1.2);
    cursor: pointer;
}
.feedback{
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    color: var(--dr--color);
}
#menu{
    height: 100%;
    width: 100px;
    display: none;
}
#menu:hover{
    cursor: pointer;
}
.menu{
    width: 100%;
    height: 100vh;
    z-index: 999;
    background-color: var(--primary--color);
    color: var(--text--color);
    font-size: 30px;
}
.hide{
    display: none;
}
.menu ul{
    width: 100%;
    height: 80%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.menu ul li{
   width: 200px;
   text-align: center;
   border-radius: 10px;
}
.menu ul li:hover{
    cursor: pointer;
    background-color: var(--nv--color);
}
.menu ul a{
    text-decoration: none;
    color: var(--text--color);

}
@media only screen and (max-width: 850px) {
    nav ul{
        display: none;
    }
    nav{
        padding: 10px;
    }
    #menu{
        display: block;
    }

}
@media only screen and (max-width: 600px) {
    #menu{
        width: 50px;
        height: 50px;
    }
}